# Note: auth. proxy will pass the username, email addr., etc.
LD_SUPERUSER_NAME=
LD_ENABLE_AUTH_PROXY=true
# For Cloudflare tunnel HTTP_CF_ACCESS_AUTHENTICATED_USER_EMAIL
LD_AUTH_PROXY_USERNAME_HEADER=
# App domain name
LD_CSRF_TRUSTED_ORIGINS=
# Can be set to true due to auth. proxy
LD_DISABLE_LOGIN_FORM=
LD_DB_USER=
LD_DB_PASSWORD=
# E.g. postgres.databases.svc.cluster.local
LD_DB_HOST=
# E.g. 5432
LD_DB_PORT=
# 'postgres' for postgres
LD_DB_ENGINE=
# Database name
LD_DB_DATABASE=
