# Linkding secret values
# Auth proxy passes username or email headers
LD_SUPERUSER_NAME=
LD_ENABLE_AUTH_PROXY=true
# Example: HTTP_CF_ACCESS_AUTHENTICATED_USER_EMAIL
LD_AUTH_PROXY_USERNAME_HEADER=
# Application domain
LD_CSRF_TRUSTED_ORIGINS=
# Set to true when auth proxy is enabled
LD_DISABLE_LOGIN_FORM=
LD_DB_USER=
LD_DB_PASSWORD=
# Example: postgres.databases.svc.cluster.local
LD_DB_HOST=
# Example: 5432
LD_DB_PORT=
# Example: postgres
LD_DB_ENGINE=
# Database name
LD_DB_DATABASE=
